.PageHeaderWithDescription {
    @apply flex flex-col justify-center items-center w-full mx-auto text-white bg-gray-400;
}

.PageHeaderWithDescription div {
    @apply flex flex-col justify-center items-center h-screen lg:h-96 p-4  bg-[url('https://wallpaperaccess.com/full/1268171.jpg')];
}

.PageHeaderWithDescription h1 {
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
    color: #fff;
    width: 50%;
}

@media (min-width: 768px) {
    .PageHeaderWithDescription h1 {
        font-size: 1.875rem;
        width: 50%;
    }
}

.PageHeaderWithDescription p {
    font-size: 1rem; /* text-md equivalent */
    margin-top: 1.25rem; /* mt-10 equivalent */
    text-align: justify; /* text-justify equivalent */
}
@media (min-width: 768px) {
    .PageHeaderWithDescription p {
        font-size: 1.25rem; /* md:text-2xl equivalent */
        max-width: 50%; /* md:w-1/2 equivalent */
    }
}

